.navbar{
    display: flex;
    flex-direction: column;
    background-color: #201f24;
    height: 100%;
    color: white;
    width: 16vw;
    padding: 2%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:fixed;
}

h1{
    flex-grow: 0.3;
    padding: 0.5%;
}

.navopt{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    padding: 1%;
    gap: 4%;
}

.mini{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    padding: 2%;
}

.opt{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3%;
    height: 7%;
    gap: 7%;
}

.active{ 
     display: flex;
    align-items: center;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 10%;
    color: #1b1b1b;
    border-left: 5px solid red;
    gap: 7%;
    
    
}